@model List<FlashCardApp.Models.Card>

<a asp-action="Create" asp-controller="Home">Create</a>

<div class="flashcard-container">
@foreach (var item in Model)
{
    <div class="flashcard">
        <div class="front">
            <h3 class="term">@item.Term</h3>
        </div>
        <div class="back">
          <p class="definition">@item.Definition</p>
        </div>
    </div>
}
</div>